{:paths   ["src"]
 :deps    {org.clojure/core.async {:mvn/version "1.6.673"}
           skuttleman/defacto     {:local/root "../core"}}
 :aliases {:dev {org.clojure/clojurescript {:mvn/version "1.10.844"}}}}
